<div class="container">
  <div class="game-container">
    <div
      *ngFor="let value of cells(); let rowIndex = index"
      class="cell"
      [ngClass]="{
        'filled': value > 0,
        'empty': !value,
        'board': value < 0,
        'selected': selectedIndex === rowIndex
      }"
      (click)="selectMarble($event, rowIndex, value)"
    >
      <section class="marble-stage" *ngIf = "value >= 0">
        <figure class="marble"></figure>
      </section>
    </div>
  </div>

  <div class="action-container">
    <span *ngIf="gameStarted" (click)="startNewGame($event)">Start a New Game</span>
  </div>

  <div class="end-game-container" *ngIf="gameEnd">
    <span>End</span>
    <span>{{gameEndMarbleCount}}</span>
    <span>marble(s) on the board</span>
    <span>{{playingFeedback}}</span>
  </div>
</div>

<router-outlet></router-outlet>
